{% extends 'hod_templates/base_templates.html' %}
{% load static %}
{% block page_title %}
Add Courses
{% endblock page_title %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Courses</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/add_courses_save" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
            
              <div class="card-body">
                <div class="form-group">
                  <label>Courses Name</label>
                  <input type="text" class="form-control" placeholder="Enter Courses Name" name="courses">
                </div>
                <div class="from-group">
                  {% if messages %}
                  <div class = "col-12">
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-danger" style="margin-top:16px">{{message}}</div>
                    {% endif %}
                    {% if message.tags == "success" %}
                    <div class="alert alert-success" style="margin-top:16px">{{message}}</div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Add Courses</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

          <!-- Form Element sizes -->

        <!--/.col (right) -->
      </div>
    </div>
  </section>
  {% endblock main_content %}